# Ignore large external datasets
dataset/dataset1_nyc/*.csv
dataset/dataset2_chicago/*.csv
dataset/dataset3_maryland/*.csv
dataset/harmonized_*.csv

# Python
__pycache__/
*.pyc
venv/
.env

# Models
backend/ml_components/*.pkl

# Node
node_modules/
dist/
.DS_Store
